
# Python 缓存文件
__pycache__/
*.pyc
*.pyo

# 其他常见忽略项
*.DS_Store
*.log
*.tmp
*.swp
*.bak

# 虚拟环境
venv/
env/
.venv/
.env/

# 数据库文件
*.db
*.sqlite3

# IDE 和编辑器配置
.idea/
.vscode/

# 构建输出
dist/
build/
*.egg-info/

# pytest缓存
.pytest_cache

#.开头
.*